* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 10px;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    visibility: hidden;
}

header {
    border-bottom: 1px solid;
}

header, .main,.calculator, .screen, button {
    padding: 20px;
}

.calculator {
    width: 800px;
    height: 900px;
    background-color: slategray;
    border: 5px solid darkslateblue
}

.screen {
    border: 2px solid;
    background-color: rgb(126, 175, 40);
    height: 200px;
    box-shadow: rgb(88, 99, 109) 0 0 5px 5px inset;
    text-shadow: rgb(101, 115, 129) 3px 3px 2px;
}

.input {
    font-family: "handjet";
    font-weight: 400;
    font-size: 60px;
}

.result {
    font-family: "handjet";
    font-size: 90px;
    font-weight: 600;
}

.buttons, .numpad, .special, .operate {
    display: flex;
}

.buttons {
    margin-top: 40px;
    gap: 40px;
}

.numpad {
    width: 400px;
    flex-direction: row-reverse;
    flex: 0 0 auto;
}

.numpad, .func, .operate, .special {
    flex-wrap: wrap;
    gap: 20px;
}

button {
    font-family: "orbitron";
    font-size: 45px;
    font-weight: 900;
    width: 120px;
    height: 120px;
    box-shadow: rgb(88, 99, 109) 5px 5px 2px 2px;
}

button:active {
    box-shadow: rgb(88, 99, 109) 0 0 2px 2px inset ;
}

#clearAll, #clear {
    height: 260px
}

.operate {
    margin-top: 20px;
}

.numpad button {
    background-color: gainsboro;
}

.special button {
    background-color: red;
}

.operate button {
    background-color: coral;
}
